<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lusoft.album.dao.AlbumMapper">
	
	<resultMap id="AlbumBasicInfo" type="com.lusoft.album.bean.AlbumBasicInfo" >
	    <id property="id" column="id" jdbcType="BIGINT"/>
	    <result property="name" column="name" jdbcType="VARCHAR"/>
	    <result property="free" column="free" jdbcType="CHAR"/>
	    <result property="price" column="price" jdbcType="TINYINT"/>
	    <result property="remark" column="remark" jdbcType="VARCHAR"/>
	    <result property="coverImageUrl" column="cover_image_url" jdbcType="VARCHAR"/>
	    <result property="coverImage2Url" column="cover_image2_url" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="AlbumContent" type="com.lusoft.album.bean.AlbumContent" >
	    <id property="id" column="id" jdbcType="BIGINT"/>
	    <result property="albumId" column="album_id" jdbcType="BIGINT"/>
	    <result property="url" column="url" jdbcType="VARCHAR"/>
	    <result property="name" column="name" jdbcType="VARCHAR"/>
	    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="listAlbum" resultMap="AlbumBasicInfo">
	    select
	        id,
	        name,
	        free,
	        price,
	        remark,
	        cover_image_url,
	        cover_image2_url
	    from
	        t_album_basic_info
	    order by id desc
	</select>
	
	<insert id="insertAlbumBasicInfo" parameterType="com.lusoft.album.bean.AlbumBasicInfo">
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		    t_album_basic_info(
		        name,
		        free,
		        price,
		        remark
		    ) VALUES (
		        #{name,jdbcType=VARCHAR},
		        #{free,jdbcType=CHAR},
		        #{price,jdbcType=TINYINT},
		        #{remark,jdbcType=VARCHAR}
		    )
	</insert>
	
	<update id="setAlbumCoverInfo" parameterType="com.lusoft.album.bean.AlbumBasicInfo">
		UPDATE 
		    t_album_basic_info
		<set>
		    cover_image_url=#{coverImageUrl,jdbcType=VARCHAR},
		    cover_image2_url = #{coverImage2Url,jdbcType=VARCHAR}
		</set>
		<where>
		    id=#{id,jdbcType=BIGINT}
		</where>
	</update>
	
	<delete id="deleteAlbum" parameterType="java.lang.Long">
	    DELETE FROM
	        t_album_basic_info
	    <where>
		    id=#{id,jdbcType=BIGINT}
	    </where>
	</delete>
	
	<insert id="insertAlbumContent" parameterType="com.lusoft.album.bean.AlbumContent">
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		    t_album_content(
		        album_id,
		        url,
		        name,
		        create_time
		    ) VALUES (
		        #{albumId,jdbcType=BIGINT},
		        #{url,jdbcType=VARCHAR},
		        #{name,jdbcType=VARCHAR},
		        #{createTime,jdbcType=TIMESTAMP}
		    )
	</insert>
	
	<select id="listContent" parameterType="java.util.Map"  resultMap="AlbumContent">
	    select
	        id,
	        album_id,
	        url,
	        name,
	        create_time
	    from
	        t_album_content
	    where
	        album_id = #{albumId}
	    order by create_time desc
	</select>
	
</mapper>