<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lusoft.album.dao.TransactionMapper">
	
	<resultMap id="Transaction" type="com.lusoft.album.bean.Transaction" >
	    <id property="id" column="id" jdbcType="BIGINT"/>
	    <result property="userId" column="user_id" jdbcType="BIGINT"/>
	    <result property="type" column="type" jdbcType="INTEGER"/>
	    <result property="subjectType" column="subject_type" jdbcType="INTEGER"/>
	    <result property="subjectId" column="subject_id" jdbcType="BIGINT"/>
	    <result property="subjectName" column="subject_name" jdbcType="VARCHAR"/>
	    <result property="amount" column="amount" jdbcType="INTEGER"/>
	    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
	    <result property="status" column="status" jdbcType="INTEGER"/>
	    <result property="remark" column="remark" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="listTransaction" resultMap="Transaction" parameterType="java.util.Map">
	    select
	        id,
	        user_id,
	        type,
	        subject_type,
	        subject_id,
	        subject_name,
	        amount,
	        create_time,
	        status,
	        remark
	    from
	        t_transaction
	    where
	        user_id= #{userId,jdbcType=BIGINT}
	</select>
	
	<insert id="createTransaction" parameterType="com.lusoft.album.bean.Transaction">
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		    t_transaction(
		        user_id,
		        type,
		        subject_type,
		        subject_id,
		        subject_name,
		        amount,
		        create_time,
		        status,
		        remark
		    ) VALUES (
		        #{userId,jdbcType=BIGINT},
		        #{type,jdbcType=INTEGER},
		        #{subjectType,jdbcType=INTEGER},
		        #{subjectId,jdbcType=BIGINT},
		        #{subjectName,jdbcType=VARCHAR},
		        #{amount,jdbcType=INTEGER},
		        #{createTime,jdbcType=TIMESTAMP},
		        #{status,jdbcType=INTEGER},
		        #{remark,jdbcType=VARCHAR}
		    )
	</insert>
	
</mapper>